/*---------------------------------------------------------
 * Social Icons
---------------------------------------------------------*/
.header__social-links {
  margin-top: 0.5em;
  .social-links__icon {
    margin-right:10px;
    float:left;
    width:29px;
    height:28px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    &:hover {
      background-position: 0px -30px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    width: 100%;
    height: 100%;
    display:block;
  }
  .social-links__facebook {
    background-image: url(images/social-facebook.png);
  }
  .social-links__linkedin {
    background-image: url(images/social-linked-in.png);
  }
  .social-links__youtube {
    background-image: url(images/social-youtube.png);
  }
}